/Idea Presentation
/Sources

# We use the \ symbol to escape the whitespaces in file/directory names.
/Heliocentric/Presentation/Xenakis\ Centenary\ - Workshop\ Presentation\ Drafts/
/Heliocentric/Presentation/MappingMaterialities.pptx
/Heliocentric/Presentation/Xenakis\ Centenary\ -\ Workshop\ Presentation.docx
/Heliocentric/demonstration.mkv

Cosmic Cities.docx

# Ignore pycache
*.pyc
